<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-lg-9 col-xl-7">
      <div class="card rounded-3">
        <div class="card-body p-4">

          <h4 class="text-center my-3 pb-3">O que temos para hoje</h4>

          <table class="table mb-4">
            <thead>
              <tr>
                <th scope="col">Hora</th>
                <th scope="col">Título</th>
                <th scope="col">Categoria</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Ir à Academia</td>
                <td>Saúde e esporte</td>
                <td>
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-warning ">Editar</button>
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-danger ms-1">Deletar</button>
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Limpar a casa</td>
                <td>Organização</td>
                <td>
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-warning ">Editar</button>
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-danger ms-1">Deletar</button>
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Aula ADA</td>
                <td>Estudos</td>
                <td>
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-warning ">Editar</button>
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-danger ms-1">Deletar</button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>