<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-lg-9 col-xl-7">
      <div class="card rounded-3">
        <div class="card-body p-4">

          <h4 class="text-center my-3 pb-3">O que temos para hoje</h4>

          <table class="table mb-4">
            <thead>
              <tr>
                <th scope="col">Hora</th>
                <th scope="col">Título</th>
                <th scope="col">Categoria</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody *ngFor="let chore of chores">
              <tr>
                <th scope="row">{{chore.time}}</th>
                <td>{{chore.title}}</td>
                <td>{{chore.category}}</td>
                <td>
                  <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    (click)="getDataToEditForm(chore._id)">Editar</button>
                  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-danger ms-1"
                    (click)="deleteChore(chore._id)">Deletar</button>
                </td>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Altere abaixo sua tarefa:</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form [formGroup]="editionForm">
                          <div class="mb-3">
                            <label for="chore-title" class="form-label">Título</label>
                            <input type="text" class="form-control" id="chore-title"
                              placeholder="Digite o título da tarefa" formControlName="title">
                          </div>
                          <div class="mb-3">
                            <label for="chore-category" class="form-label">Categoria</label>
                            <input type="text" class="form-control" id="chore-category"
                              placeholder="Digite a categoria da tarefa" formControlName="category">
                          </div>
                          <div class="mb-3">
                            <label for="chore-time" class="form-label">Hora</label>
                            <input type="time" class="form-control" id="chore-time" formControlName="time">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" type="submit" class="btn btn-success"
                              (click)="updateChore()">Salvar
                              alterações</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- FIM DO MODAL -->
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>